<div class="sidebar">
    <h2>Staff Panel</h2>
    
    <a href="{{ url_for('staff.dashboard') }}"> Dashboard</a>
    <a href="{{ url_for('staff.add_book') }}"> Add Book</a>
    <a href="{{ url_for('staff.remove_book_page') }}">Remove Book</a>
    <a href="{{ url_for('staff.view_books') }}">View Books</a>
    <a href="{{ url_for('staff.issue_requests') }}">Approve Requests</a>
    <a href="{{ url_for('staff.return_book_page') }}">Return Book</a>
    <a href="{{ url_for('staff.changepassword') }}">Change Password</a>
    <a class="logout" href="{{ url_for('auth.logout') }}">Logout</a>
  </div>

